# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
node_modules

# Cursor IDE configuration (may contain sensitive data)
.cursor/
